@model IEnumerable<MovieGenreAppMVC.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h1>Movies</h1>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-12">
            <div class="thumbnail">

                <h2>
                    @Html.DisplayFor(modelItem => item.Title)
                </h2>
                <p>@Html.DisplayNameFor(model => model.Director.Name):  @Html.DisplayFor(modelItem => item.Director.Name)</p>
                <p>@Html.DisplayNameFor(model => model.Genre.Type): @Html.DisplayFor(modelItem => item.Genre.Type)</p>
                <p>@Html.DisplayNameFor(model => model.ReleaseDate): @Html.DisplayFor(modelItem => item.ReleaseDate)</p>
                <p>@Html.DisplayNameFor(model => model.RTScore): @Html.DisplayFor(modelItem => item.RTScore)</p>
                <p>@Html.DisplayNameFor(model => model.Rating): @Html.DisplayFor(modelItem => item.Rating)</p>
                <p>@Html.DisplayNameFor(model => model.WonAward): @Html.DisplayFor(modelItem => item.WonAward)</p>
          
            </div>
        </div>
    }
</div>

<
<p>
    @Html.ActionLink("Create New", "Create")
</p>



<div class="row">
    @foreach (var item in Model)
    {

        @Html.ActionLink("Edit", "Edit", new { id = item.MovieID })
        @Html.ActionLink("Details", "Details", new { id = item.MovieID })
        @Html.ActionLink("Delete", "Delete", new { id = item.MovieID })
    }
</div>
